* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#architect {
	font-family: 'Dancing Script', cursive;
	font-size: 3rem;
	position: absolute !important;
	left: 20%;
	top: 46%;
	color: darkgray !important;
}

#landing {
	background-image: url('./images/bg-details.jpg');
	background-position: center center;
	background-size: fill;
	background-repeat: no-repeat;
}

#name {
	font-family: 'Prompt', sans-serif;
	font-size: 6rem;
}


#divider {
	border-right-style: solid;
	border-right-width: 10px !important;
	border-color: rgb(60, 60, 60);
}


